.jumbotron
{
	background-image: url('../images/banner.jpg');
	background-size: cover;
}

.col-md-2
{
	
}

input[type=checkbox], input[type=radio] 
{
    margin-left:  85px;
    margin-top: 1px\9;
    line-height: normal;
}

img
{
	margin: 10px;
	width: 160px;
	height: 90px;
	float: left;
}

body
{
	position: relative;
	background-image: url('../images/gradient4.jpg');
}

.container
{
	width: 180px;
	float: left;
}

#title
{
	text-align: center;
	font-family: cursive;
	color: #337ab7;
}

.panel-default .panel-heading
{
	text-align: center;
	background-color: #337ab7;
}

.panel-body
{
	background-color: bisque;
}



