.jumbotron
{
	background-image: url('../images/banner.jpg');
	background-size: cover;
}

body
{
	position: relative;
	background-image: url('../images/gradient4.jpg');
}

#title
{
	text-align: center;
	font-family: cursive;
	color: #337ab7;
}

.panel-default .panel-heading
{
	text-align: center;
	background-color: #337ab7;
}

.panel-body
{
	background-color: bisque;
}

#flags

